name: Generate Snake

on:
  # Dijalankan otomatis setiap 24 jam
  schedule:
    - cron: "0 */24 * * *" 
  
  # Bisa dijalankan manual juga
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      
      - name: Generate the snake files in './dist/'
        uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          # Token ini otomatis disediakan oleh GitHub, tidak perlu diubah
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push new files to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
