name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # Jalan setiap jam 12 malam
  workflow_dispatch: # Supaya bisa di-run manual

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: Platane/snk@v3
        with:
          # Nama user GitHub kamu
          github_user_name: Ripanrz
          
          # Output file (Light & Dark mode)
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
